// Roboto

@font-face {
  font-family: 'Roboto Regular';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Roboto-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto Italic';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Roboto-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Roboto Bold';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Roboto-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Roboto Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Roboto-BoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'Roboto Thin';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Roboto-Thin.woff') format('woff');
}

@font-face {
  font-family: 'Roboto Thin Italic';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Roboto-ThinItalic.woff') format('woff');
}

@font-face {
  font-family: 'Roboto Light';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Roboto-Light.woff') format('woff');
}

@font-face {
  font-family: 'Roboto Light Italic';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Roboto-LightItalic.woff') format('woff');
}

@font-face {
  font-family: 'Roboto Medium';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Roboto-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Roboto Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Roboto-MediumItalic.woff') format('woff');
}

@font-face {
  font-family: 'Roboto Black';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Roboto-Black.woff') format('woff');
}

@font-face {
  font-family: 'Roboto Black Italic';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Roboto-BlackItalic.woff') format('woff');
}

// Noto Sans CJK KR

@font-face {
  font-family: 'Noto Sans CJK KR';
  src: url('../fonts/noto-sans-kr-v21-latin-regular.woff') format('woff');
}
