body {
  color: #{$col-default-text};
  background-color: #{$col-default-bg};
}

body.dark-theme {
  color: #{$dark-col-default-text};
  background-color: #{$dark-col-default-bg};
}

#root {
  box-sizing: border-box;
  display: flex;
  min-height: 100%;
}

.menu_side {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 0px);
  .menu_toggle_bar {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    background: #{$col-blue};
    width: 60px;
  }
  .menu_area {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    background: #{$col-blue};
    overflow: hidden auto;
    width: 240px;
    transition: width 0.3s ease;
    &.hide {
      width: 0;
      transition: width 0.3s ease;
    }
  }
}
.toggle_btn {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 40px;
  height: 40px;
}

.content_area {
  display: flex;
  flex-direction: column;
  flex: auto;
  box-sizing: border-box;
}
.top_menu_toggle {
  display: none;
}

@include mobile {
  .menu_side {
    position: fixed;
    left: -260px;
    top: 50px;
    transition: left 0.3s ease;
    box-shadow: 10px 0px 10px rgba($color: #000000, $alpha: 0.3);
    .menu_toggle_bar {
      display: none;
    }
    &.show {
      left: 0;
      transition: left 0.3s ease;
    }
  }
  .toggle_btn {
    top: 5px;
  }
  .top_menu_toggle {
    display: block;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 50px;
    background: #{$col-top-menu-bg};
  }
  .content_area {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 0px);
    padding-top: 50px;
  }
}

@include tablet {
}

@include desktop {
}
