.content_area {
  overflow: hidden;
  h3 {
    font-size: 25px;
    color: #{$col-default-text};
    padding-bottom: 10px;
    border-bottom: 1px solid #{$col-default-text};
    margin-bottom: 20px;
  }
}

.horizon_tb {
  overflow-x: auto;
}
.tb_list {
  width: 100%;

  border-top: 2px solid #{$col-gray300};
  th {
    font-weight: bold;
    border-bottom: 1px solid #{$col-gray300};
    padding: 9px 0 10px;
    background: #{$col-white};
  }
  td {
    border-bottom: 1px solid #{$col-gray300};
    text-align: center;
    padding: 9px 10px 10px;
  }
}

.box_form {
  border: 1px solid #dbdbdb;
  padding: 15px;
  margin-bottom: 10px;
  position: relative;
}

.form_table {
  display: table;
  width: 100%;
  .form_cell {
    display: table-cell;
    padding-right: 20px;
  }
}
.form_group {
  margin-top: 7px;
  position: relative;
  display: inline-block;
  .f_label {
    position: absolute;
    left: 10px;
    top: 8px;
    background: #{$col-white};
    padding: 2px 4px;
    transition: top 0.3s ease;
    display: inline-block;
  }
  .fome_tag {
    height: 38px;
    line-height: 38px;
    border: 1px solid #{$col-gray300};
    border-radius: 5px;
    padding: 0 10px;
    width: 100%;
    box-sizing: border-box;
    color: #{$col-default-text};
    background: #{$col-white};
    outline: none !important;
    &::placeholder {
      color: #{$col-gray300};
    }
    &:disabled {
      background: #{$col-disabled};
    }
    &:focus {
      border: 1px solid #{$col-blue};
    }
    &.isValue {
      border: 1px solid #{$col-gray300};
    }
    &.isFail {
      color: #{$col-red};
      border: 1px solid #{$col-red};
    }
    &.isFail::selection {
      color: #{$col-red};
    }
    &:focus + .f_label {
      left: 10px;
      top: -11px;
      font-size: 12px;
      color: #{$col-blue};
      transition: top 0.3s ease;
    }
    &.isValue + .f_label {
      left: 10px;
      top: -11px;
      font-size: 12px;
      color: #{$col-default-text};
      transition: top 0.3s ease;
    }
    &.isFail + .f_label {
      left: 10px;
      top: -11px;
      font-size: 12px;
      color: #{$col-red};
      transition: top 0.3s ease;
    }
  }
}

.wid10 {
  width: 10%;
}
.wid20 {
  width: 20%;
}
.wid30 {
  width: 30%;
}
.wid40 {
  width: 40%;
}
.wid50 {
  width: 50%;
}
.wid60 {
  width: 60%;
}
.wid70 {
  width: 70%;
}
.wid80 {
  width: 80%;
}
.wid90 {
  width: 90%;
}
.wid100 {
  width: 100%;
}

.f_wid10 {
  width: 10%;
}
.f_wid20 {
  width: 20%;
}
.f_wid30 {
  width: 30%;
}
.f_wid40 {
  width: 40%;
}
.f_wid50 {
  width: 50%;
}
.f_wid60 {
  width: 60%;
}
.f_wid70 {
  width: 70%;
}
.f_wid80 {
  width: 80%;
}
.f_wid90 {
  width: 90%;
}
.f_wid100 {
  width: 100%;
}

.btn_search {
  height: 28px;
  padding: 0 20px;
  border: none;
}

.btn_blue {
  background: #{$col-blue};
  color: #{$col-white};
}
.btn_green {
  background: #{$col-green};
  color: #{$col-white};
}

.abrb {
  position: absolute;
  right: 0;
  bottom: 0;
}
.abrt {
  position: absolute;
  right: 0;
  top: 0;
}
.ablc {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.abrc {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.tabs_wrap {
  text-align: center;
  overflow: hidden;
  li {
    display: block;
    border-left: none;
    float: left;
    padding: 10px 30px;
    min-width: 200px;
    border: 1px solid #{$col-default-text};
    border-left: none;
    box-sizing: border-box;
    margin-bottom: 5px;
    &.active,
    &:hover {
      color: #{$col-default-bg};
      background: #{$col-default-text};
    }
    &:first-child {
      border-left: 1px solid #{$col-default-text};
    }
  }
}

@include mobile {
  .form_table {
    display: block;
    .form_cell {
      display: block;
      padding-right: 0;
    }
  }

  .f_wid10,
  .f_wid20,
  .f_wid30,
  .f_wid40,
  .f_wid50,
  .f_wid60,
  .f_wid70,
  .f_wid80,
  .f_wid90,
  .f_wid100 {
    width: 100% !important;
  }

  .btn_search {
    &.wid100 {
      width: 100%;
    }
  }

  .tabs_wrap {
    li {
      width: 50%;
      padding: 15px 0;
    }
  }
}
