.content_area {
  h3 {
    font-size: 20px;
    color: #{$col-default-text};
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #{$col-gray200};
  }
  h4 {
    font-size: 16px;
    padding-bottom: 5px;
  }
}

.flex_grow_two {
  display: flex;
  @include tablet {
    display: block;
  }
  & > div {
    &:first-child {
      margin-right: 50px;
    }
    flex-grow: 1;
  }
}

.flex_grow_two_fix {
  display: flex;
  & > div {
    &:first-child {
      margin-right: 50px;
    }
    flex-grow: 1;
  }
}

.horizon_tb {
  overflow-x: auto;
}
.vertical_sc {
  overflow-y: auto;
  max-height: 500px;
  @include mobile {
    max-height: inherit;
    overflow-y: inherit;
  }
}
.vertical_sc_middle {
  overflow-y: auto;
  max-height: 400px;
  @include mobile {
    max-height: inherit;
    overflow-y: inherit;
  }
}
.vertical_sc_small {
  overflow-y: auto;
  max-height: 300px;
  @include mobile {
    max-height: inherit;
    overflow-y: inherit;
  }
}
.tb_list {
  width: 100%;

  border-top: 2px solid #{$col-default-text};
  tr.active {
    background: #{$col-green} !important;
    * {
      color: #{$col-white} !important;
    }
  }
  th {
    font-weight: bold;
    border-bottom: 1px solid #{$col-gray300};
    padding: 11px 0;
    background: #{$col-white};
  }
  td {
    border-bottom: 1px solid #{$col-gray300};
    text-align: center;
    padding: 11px 10px;
  }
  tr:nth-child(even) {
    background: #{$col-gray};
  }
  tr:hover {
    background: #{$col-gray100};
  }
  &.tb_fix {
    table-layout: fixed;
  }
}

.detail_form {
  margin-bottom: 30px;
}

.detail_list {
  .lists {
    position: relative;
    padding: 15px 0;
    border-bottom: 1px solid #{$col-gray300};
    .label {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(0, -50%);
      width: 100px;
      text-align: left;
      color: #{$col-gray600};
      border-right: 1px solid #{$col-gray200};
      padding-right: 20px;
      box-sizing: border-box;
    }
    .cont {
      padding-left: 120px;
      box-sizing: border-box;
    }
  }
}

.box_form {
  border: 1px solid #{$col-gray200};
  padding: 15px;
  padding-top: 0;
  padding-bottom: 10px;
  margin-bottom: 15px;
  position: relative;
  @include mobile {
    margin-bottom: 30px;
  }
}

.list_form {
  margin-bottom: 40px;
  position: relative;
  @include mobile {
    margin-bottom: 30px;
    > p {
      text-align: left;
      > span.fs_12 {
        display: none;
      }
    }
    .list_form_btns {
      position: inherit;
      right: inherit;
      bottom: inherit;
      text-align: right;
      margin-top: 10px;
    }
  }
}

.list_form_btns {
  z-index: 2;
  position: absolute;
  right: 0;
  top: 0;
  &.not_list {
    top: -15px;
    @include mobile {
      top: 0;
    }
  }
}
.list_form_btns_fix {
  position: absolute;
  right: 0;
  top: 0;
  &.not_list {
    top: -20px;
    @include mobile {
      top: 0;
    }
  }
  @include mobile {
    right: 0;
    top: 0;
  }
}

.group_box_wrap {
  margin-top: 15px;
  position: relative;
  padding: 12px 10px;
  border: 1px solid #{$col-gray300};
  border-radius: 5px;
  .txt {
    background: #{$col-white};
    padding: 4px 5px;
    position: absolute;
    left: 10px;
    top: -12px;
    font-size: 12px;
  }
  @include mobile {
    &.mobile_block {
      .form_group {
        display: block;
        margin-bottom: 10px;
        width: 100%;
        &:first-child {
        }
      }
    }
  }
}

.write_form {
  border-bottom: 2px solid #{$col-default-text};
  padding-bottom: 15px;
}

.form_table {
  display: table;
  width: 100%;
  .form_cell {
    display: table-cell;
    padding-right: 10px;
    padding-top: 15px;
    position: relative;
  }
}

.form_table {
  .checkbox-wrapper,
  .radio-wrapper {
    vertical-align: top;
    margin-top: 12px;
  }
}

.form_group {
  position: relative;
  display: inline-block;
  vertical-align: middle;

  .invalid_txt {
    position: absolute;
    left: 11px;
    top: 37px;
    font-size: 11px;
    color: #{$col-red};
  }
  .icon {
    &.icon_search {
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translate(0, -50%);
      color: #{$col-gray350};
    }
    &.icon_clear {
      display: none;
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translate(0, -50%);
      color: #{$col-gray350};
    }
    &.icon_calendar {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translate(0, -50%);
      color: #{$col-gray350};
    }
  }
  .f_label {
    position: absolute;
    left: 10px;
    top: 10px;
    background: #{$col-white};
    padding: 2px 4px 4px;
    line-height: 1em;
    transition: all 0.3s ease;
    display: inline-block;
    .required {
      color: #{$col-red};
    }
  }
}

.form_tag {
  height: 38px;
  line-height: 38px;
  border: 1px solid #{$col-gray300};
  border-radius: 5px;
  padding: 0 10px;
  width: 100%;
  box-sizing: border-box;
  color: #{$col-default-text};
  background: #{$col-white};
  outline: none !important;
  position: relative;
  text-indent: 10px;

  .option_item {
    display: none;
    z-index: 3;
  }
  &.active .option_item {
    display: block;
    position: absolute;
    left: 0;
    top: 40px;
    border: 1px solid #{$col-gray300};
    border-radius: 5px;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 0 10px rgba($col-black, 0.3);
    li {
      border-top: 1px solid #{$col-gray300};
      padding: 8px 15px;
      background: #{$col-white};
      &:first-child {
        border-top: none;
      }
      &:hover {
        background: #{$col-gray100};
      }
    }
  }
  .arr {
    position: absolute;
    right: 5px;
    top: 54%;
    transform: translate(0, -50%) rotate(180deg);
    // transform: translate(0, -50%) rotate(180deg);
    // transition: transform 0.1s ease, opacity 0.1s ease;
    // transform-origin: center center;
  }
  &::placeholder {
    color: #{$col-white};
  }
  &:disabled {
    border: 1px solid #{$col-gray};
    background: #{$col-gray};
    &::placeholder {
      color: #{$col-gray300};
    }
  }
  &.edit:disabled {
    border: none;
    background: none;
    color: #{$col-default-text};
  }
  &.date:disabled {
    color: #{$col-default-text};
    background: #{$col-white};
    border: 1px solid #{$col-gray300};
    + .f_label {
      color: #{$col-default-text};
      position: absolute;
      left: 10px;
      top: 10px;
      font-size: 14px;
    }
  }
  &.fix_data:disabled {
    border: none;
    border-bottom: 1px solid #{$col-gray300};
    background: none;
    border-radius: 0;
    color: #{$col-default-text};
    + .f_label {
      top: -10px !important;
      left: 0 !important;
    }
  }
  &:focus,
  &.active {
    border: 1px solid #{$col-green} !important;
    color: #{$col-green} !important;
    &::placeholder {
      color: #{$col-gray300} !important;
    }
    .arr {
      // 화살표 돌리기
      // top: 48%;
      // transform: translate(0, -50%) rotate(0deg);
      // transition: transform 0.1s ease, opacity 0.1s ease;
      // transform-origin: center center;
    }
  }
  &:not([value='']) {
    border: 1px solid #{$col-gray300};
  }
  &.invalid {
    color: #{$col-red};
    border: 1px solid #{$col-red};
  }
  &.invalid::selection {
    color: #{$col-red};
  }
  &:disabled + .f_label,
  &:focus + .f_label,
  &.active + .f_label,
  &:not([value='']) + .f_label,
  &.invalid + .f_label,
  &.date:disabled:not([value='']) + .f_label {
    left: 10px;
    top: -8px;
    font-size: 12px;
    transition: all 0.3s ease;
  }
  &:disabled + .f_label {
    background: none;
    color: #{$col-gray350};
  }
  &:focus + .f_label,
  &.active + .f_label {
    color: #{$col-green} !important;
  }
  &:not([value='']) + .f_label {
    color: #{$col-default-text};
  }
  &.invalid + .f_label {
    color: #{$col-red};
  }

  &.textarea {
    padding: 20px;
    min-height: 200px;
    line-height: 1.6em;
  }
}

.form_tag_select {
  height: 38px;
  line-height: 38px;
  border: 1px solid #{$col-gray300};
  border-radius: 5px;
  padding: 0 10px;
  width: 100%;
  box-sizing: border-box;
  color: #{$col-default-text};
  background: #{$col-white};
  outline: none !important;
  position: relative;

  .option_item {
    display: none;
    z-index: 3;
  }
  &.active .option_item {
    display: block;
    position: absolute;
    left: 0;
    top: 40px;
    border: 1px solid #{$col-gray300};
    border-radius: 5px;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 0 10px rgba($col-black, 0.3);
    li {
      border-top: 1px solid #{$col-gray300};
      padding: 8px 15px;
      background: #{$col-white};
      &:first-child {
        border-top: none;
      }
      &:hover {
        background: #{$col-gray100};
      }
    }
  }
  .arr {
    position: absolute;
    right: 5px;
    top: 54%;
    transform: translate(0, -50%) rotate(180deg);
    // transform: translate(0, -50%) rotate(180deg);
    // transition: transform 0.1s ease, opacity 0.1s ease;
    // transform-origin: center center;
  }

  &::placeholder {
    color: #{$col-white};
  }
  &:disabled {
    border: 1px solid #{$col-gray};
    background: #{$col-gray};
    opacity: 1;
    &::placeholder {
      color: #{$col-gray300};
    }
  }
  &.edit:disabled {
    border: none;
    background: none;
    color: #{$col-default-text};
  }

  &:focus,
  &.active {
    border: 1px solid #{$col-green} !important;
    color: #{$col-green} !important;
    &::placeholder {
      color: #{$col-gray300} !important;
    }
  }
  &.isValue {
    border: 1px solid #{$col-gray300};
  }
  &.invalid {
    color: #{$col-red};
    border: 1px solid #{$col-red};
  }
  &.invalid::selection {
    color: #{$col-red};
  }

  &:disabled + .f_label,
  &:focus + .f_label,
  &.active + .f_label,
  &.isValue + .f_label,
  &.invalid + .f_label {
    left: 10px;
    top: -8px;
    font-size: 12px;
    transition: all 0.3s ease;
  }
  &:disabled + .f_label {
    background: none;
    color: #{$col-gray350};
  }
  &:focus + .f_label,
  &.active + .f_label {
    color: #{$col-green} !important;
  }
  &.isValue + .f_label {
    color: #{$col-default-text};
  }
  &.invalid + .f_label {
    color: #{$col-red};
  }

  &.textarea {
    min-height: 200px;
  }
}

.form_search {
  .form_tag {
    text-indent: 20px;
  }
  .f_label {
    left: 25px;
  }
}

.radio-wrapper,
.checkbox-wrapper {
  position: relative;
  display: inline-block;
}
input[type='checkbox'],
input[type='radio'] {
  display: none;
  // position: absolute;
  // top: 0px;
  // left: 0px;
  // height: 20px;
  // width: 20px;
  // -webkit-appearance: none;
}
.radio-label,
.checkbox-label {
  display: flex;
  position: relative;
  font-size: 14px;
  align-items: center;
  justify-content: flex-start;
}
.radio-label:before,
.radio-label:after,
.checkbox-label:before,
.checkbox-label:after {
  pointer-events: none;
}
.radio-label:before,
.radio-label:after {
  border-radius: 50%;
}
.radio-label:before,
.checkbox-label:before {
  display: flex;
  content: ' ';
  height: 14px;
  width: 14px;
  border: solid 2px #{$col-default-text};
  background: #{$col-white};
  margin-right: 6px;
}
.radio-label:after,
.checkbox-label:after {
  position: absolute;
  top: 8px;
  left: 3px;
  display: flex;
  content: ' ';
  height: 7px;
  width: 7px;
  background: #{$col-default-text};
  transform: scale(0);
  transition: transform 0.3s ease;
}
.checkbox-label:after {
  height: 5px;
  width: 12px;
  top: 5px;
  left: 1px;
  border-bottom: solid 3px #{$col-default-text};
  border-left: solid 3px #{$col-default-text};
  background: none;
  transform: rotate(-45deg) scale(0);
  transition: transform 0.1s ease, opacity 0.1s ease;
  transform-origin: center center;
}
.radio-wrapper input[type='radio']:checked + .radio-label:after {
  transform: scale(1);
}
.checkbox-wrapper input[type='checkbox']:checked + .checkbox-label:after {
  opacity: 1;
  transform: rotate(-45deg) scale(0.8);
}

.radio-wrapper input[type='radio']:disabled + .radio-label {
  color: #{$col-gray500};
}
.checkbox-wrapper input[type='checkbox']:disabled + .checkbox-label {
  color: #{$col-gray500};
}

.radio-wrapper input[type='radio']:disabled + .radio-label:before {
  background: #{$col-gray300};
}
.checkbox-wrapper input[type='checkbox']:disabled + .checkbox-label:before {
  background: #{$col-gray300};
}
.only_label:before {
  margin-right: 0;
}

.label_on_off {
  overflow: hidden;
  position: relative;
  display: inline-block;
  width: 70px;
  height: 26px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  border-radius: 13px;
  background-color: #{$col-green};
  color: #{$col-white};
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  & > * {
    vertical-align: middle;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .marble {
    position: absolute;
    top: 1px;
    left: 1px;
    display: block;
    width: 24px;
    height: 24px;
    background-color: #{$col-white};
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 10px rgba($col-black, 0.3);
    -moz-box-shadow: 0 0 10px rgba($col-black, 0.3);
    box-shadow: 0 0 10px rgba($col-black, 0.3);
  }
  .on {
    display: none;
    padding-left: 12px;
    line-height: 25px;
  }
  .off {
    padding-left: 30px;
    line-height: 25px;
  }
}

.input_on_off:checked + .label_on_off {
  background-color: #{$col-black};
}
.input_on_off:checked + .label_on_off .on {
  display: inline-block;
}
.input_on_off:checked + .label_on_off .off {
  display: none;
}
.input_on_off:checked + .label_on_off .marble {
  left: 45px;
}

.switch_label_on_off {
  overflow: hidden;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 26px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  border-radius: 13px;
  background-color: #{$col-gray600};
  color: #{$col-white};
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  & > * {
    vertical-align: middle;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .marble {
    position: absolute;
    top: 1px;
    left: 1px;
    display: block;
    width: 24px;
    height: 24px;
    background-color: #{$col-white};
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 10px rgba($col-black, 0.3);
    -moz-box-shadow: 0 0 10px rgba($col-black, 0.3);
    box-shadow: 0 0 10px rgba($col-black, 0.3);
  }
  .on {
    display: none;
    padding-left: 0;
    line-height: 27px;
    margin-left: -18px;
    font-size: 12px;
  }
  .off {
    padding-left: 22px;
    line-height: 27px;
    font-size: 12px;
  }
}

.switch_on_off:checked + .switch_label_on_off {
  background-color: #{$col-green};
}
.switch_on_off:checked + .switch_label_on_off .on {
  display: inline-block;
}
.switch_on_off:checked + .switch_label_on_off .off {
  display: none;
}
.switch_on_off:checked + .switch_label_on_off .marble {
  left: 35px;
}

.sigCanvas_box {
  box-sizing: border-box;
  background: #{$col-gray300};
  width: 100%;
  overflow: hidden;
}

hr.line {
  border: none;
  height: 1px;
  background: #{$col-gray200};
  margin: 0;
  padding: 0;
  margin-top: 15px;
}

.btn_align {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  margin-top: 7px;
  @include mobile {
    position: inherit;
    top: 0;
    transform: inherit;
  }
}

.btn_text {
  height: 38px;
  padding: 0 20px;
  border: none;
  border-radius: 5px;
  opacity: 1;
  transition: opacity 0.1s ease;
  &:hover {
    opacity: 0.9;
    transition: opacity 0.2s ease;
  }
  &:disabled {
    opacity: 0.5;
    background: #{$col-gray350};
  }
  @include mobile {
    padding: 0 10px;
  }
}
.btn_icon {
  height: 38px;
  padding: 0 15px;
  border: none;
  border-radius: 5px;
  opacity: 1;
  transition: opacity 0.1s ease;
  &:hover {
    opacity: 0.9;
    transition: opacity 0.2s ease;
  }
  &:disabled {
    opacity: 0.5;
    background: #{$col-gray350};
  }
}

.btn_gray {
  background: #{$col-gray200};
  color: #{$col-white};
}

.btn_dark_gray {
  background: #{$col-gray400};
  color: #{$col-white};
}
.btn_blue {
  background: #{$col-blue};
  color: #{$col-white};
}
.btn_white {
  background: #{$col-white};
  color: #{$col-default-text};
  border: 1px solid #{$col-default-text};
}
.btn_green {
  background: #{$col-green};
  color: #{$col-white};
}

.btn_white_bor {
  background: #{$col-white};
  border: 1px solid #{$col-gray600};
  color: #{$col-gray600};
}

.abrb {
  position: absolute;
  right: 0;
  bottom: 0;
}
.abrt {
  position: absolute;
  right: 0;
  top: 0;
}
.ablc {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.abrc {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}
.abcc {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.tabs_wrap {
  text-align: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #{$col-green};
  position: relative;
  margin-bottom: -1px;
  &::after {
    content: '';
    clear: both;
    display: block;
  }
  li {
    display: block;
    border-left: none;
    float: left;
    padding: 10px 0;
    width: 200px;
    box-sizing: border-box;
    border: 1px solid #{$col-gray300};
    border-bottom: 1px solid #{$col-green};
    cursor: pointer;
    position: relative;
    bottom: -1px;
    margin-left: -1px;
    &.disabled,
    &:disabled {
      cursor: inherit;
      background: #{$col-gray300} !important;
    }
    &:first-child {
      margin-left: 0;
    }
    &:hover {
      background: rgba($col-default-text, 0.1);
    }
    &.active {
      color: #{$col-white};
      background: #{$col-green};
      border: 1px solid #{$col-green};
    }
    @include mobile {
      width: 50%;
      &.three {
        width: 33.33333%;
      }
    }

    &:first-child {
    }
  }
}
.tabs_cont {
  padding: 15px;
  border: 1px solid #{$col-green};
  margin-bottom: 50px;
  @include mobile {
    margin-bottom: 30px;
  }
  &.box_form {
    padding-top: 0;
  }
  .list_form {
    margin-bottom: 0;
    &.mmb {
      margin-bottom: 10px;
    }
  }
}

.paging_wrap {
  margin-top: -20px;
  margin-bottom: 10px;
  position: relative;
  text-align: center;

  > * {
    display: inline-block;
    padding: 0 10px;
  }
  .p_web {
    display: inline-block;
  }
  .p_mobile {
    display: none;
  }
  @include mobile {
    text-align: left;
    > * {
      display: inline-block;
      padding: 0 5px;
    }
    .p_web {
      display: none;
    }
    .p_mobile {
      display: inline-block;
    }
  }
}

.ellipsis {
  @include ellipsis;
}

.wid10 {
  width: 10%;
}
.wid15 {
  width: 15%;
}
.wid20 {
  width: 20%;
}
.wid25 {
  width: 25%;
}
.wid30 {
  width: 30%;
}
.wid33 {
  width: 33%;
}
.wid40 {
  width: 40%;
}
.wid50 {
  width: 50%;
}
.wid60 {
  width: 60%;
}
.wid70 {
  width: 70%;
}
.wid80 {
  width: 80%;
}
.wid90 {
  width: 90%;
}
.wid100 {
  width: 100%;
}

.f_wid10 {
  width: 10%;
}
.f_wid15 {
  width: 15%;
}
.f_wid20 {
  width: 20%;
}
.f_wid25 {
  width: 25%;
}
.f_wid30 {
  width: 30%;
}
.f_wid40 {
  width: 40%;
}
.f_wid50 {
  width: 50%;
}
.f_wid60 {
  width: 60%;
}
.f_wid70 {
  width: 70%;
}
.f_wid80 {
  width: 80%;
}
.f_wid90 {
  width: 90%;
}
.f_wid100 {
  width: 100%;
}

@include tablet {
  .form_table {
    display: block;
    .form_cell {
      display: block;
      padding-right: 0;
    }
  }

  .f_wid10,
  .f_wid15,
  .f_wid20,
  .f_wid25,
  .f_wid30,
  .f_wid40,
  .f_wid50,
  .f_wid60,
  .f_wid70,
  .f_wid80,
  .f_wid90,
  .f_wid100 {
    width: 100% !important;
  }

  .btn_text {
    &.wid100 {
      width: 100%;
    }
  }
}
