body {
  color: #{$col-default-text};
  background-color: #{$col-default-bg};
}

#root > div {
  box-sizing: border-box;
  display: flex;
  min-height: 100%;
}

.top_menu_toggle {
  display: block;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 72px;
  border-bottom: 2px solid #{$col-red};
  background: #{$col-menu-bg};
  z-index: 5;
  h1 {
    color: #{$col-default-text};
    font-size: 20px;
    font-weight: bold;
    padding: 23px 70px;
  }
}

.toggle_btn {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 50px;
  height: 50px;
  font-size: 20px;
  border-radius: 50px;
  &:hover {
    background: #{$col-gray100};
    border: 2px solid #{$col-gray300};
  }
}

.menu_side {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 0px);
  z-index: 4;
  background: #{$col-menu-bg};
  border-right: 1px solid #{$col-gray200};
  width: 280px;
  overflow: hidden auto;
  transition: width 0.3s ease;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  .menu_area {
    box-sizing: border-box;
    padding-top: 72px;
    box-sizing: border-box;
    position: relative;
    width: 280px;
  }
  &.hide {
    width: 0;
    transition: width 0.3s ease;
  }
}
.menu_wrap {
  width: 100%;
  padding: 30px 0 0;
  * {
    cursor: pointer;
  }

  .dep_1 {
    p {
      color: #{$col-gray500};
      span {
        color: #{$col-gray600};
      }
      &:hover {
        background: #{$col-gray100};
      }
    }
    li.active > p {
      color: #{$col-black};
    }
    > li {
      > p {
        padding: 15px 50px;
        font-size: 14px;
        position: relative;
        span {
          padding-right: 20px;
          font-size: 12px;
          svg {
            transform: rotate(0deg);
            transition: transform 0.3s ease;
          }
          &.icon {
            font-size: 20px;
            border-radius: 30px;
            background: #fff;
            display: inline-block;
            width: 30px;
            height: 30px;
            box-sizing: border-box;
            text-align: center;
            padding-right: 0;
            padding-top: 8px;
            margin-right: 5px;
            margin-left: 15px;
          }
        }
      }
      .dep_2 {
        display: none;
      }
      &.active {
        > p {
          span {
            svg {
              transform: rotate(90deg);
              transition: transform 0.3s ease;
            }
          }
        }
        .dep_2 {
          display: block;
          > li {
            > p {
              padding: 15px 30px 15px 50px;
              font-size: 14px;
              position: relative;
              span {
                padding-right: 20px;
                font-size: 12px;
                svg {
                  transform: rotate(0deg);
                  transition: transform 0.3s ease;
                }
              }
            }
            .dep_3 {
              display: none;
              padding: 5px 0;
            }
            &.active {
              > p {
                span {
                  svg {
                    transform: rotate(90deg);
                    transition: transform 0.3s ease;
                  }
                }
              }
              .dep_3 {
                display: block;
                padding-bottom: 10px;
                > li {
                  > p {
                    padding: 15px 30px 15px 70px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.content_area {
  display: flex;
  flex-direction: column;
  flex: auto;
  box-sizing: border-box;
  padding: 20px;
  z-index: 1;
}

.toggle_dark_mode {
  position: absolute;
  bottom: 10px;
  left: 0;
}

@include mobile {
  .menu_side {
    position: absolute;
    left: -280px;
    width: 280px;
    transition: left 0.3s ease;
    &.hide {
      width: 280px;
      left: 0;
      transition: left 0.3s ease;
    }
  }
  .menu_bg {
    width: 100%;
    height: calc(100vh - 0px);
    background: rgba($color: #000000, $alpha: 0.3);
    position: fixed;
    z-index: 3;
    display: none;
    &.active {
      display: block;
    }
  }

  .content_area {
    display: block;
    flex-direction: row;
    //height: calc(100vh - 0px);
    padding-top: 70px;
  }
}

@include tablet {
}

@include desktop {
}

body.dark-theme {
  // color: #{$dark-col-default-text};
  // background-color: #{$dark-col-default-bg};
  .menu_area {
    // background: #{$dark-col-white};
  }
  .dep_1 {
    > li {
      > p {
        &:hover {
          // background: #{$col-gray400}
        }
      }
      .dep_2 {
        display: none;
      }
      &.active {
        > p {
          // background: #{$col-gray400}
        }
        .dep_2 {
          > li {
            > p {
              // color: #aaa;
              // border-bottom: 1px solid #{$col-gray300}
              &:hover {
                // color: #{$dark-col-default-text};
              }
            }
            .dep_3 {
            }
            &.active {
              > p {
                // color: #{$dark-col-default-text};
              }
              .dep_3 {
                > li {
                  > p {
                    // color: #aaa;
                    &:hover {
                      // color: #{$dark-col-default-text};
                    }
                  }
                  &.active {
                    p {
                      // color: #{$dark-col-default-text};
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
