body {
  color: #{$col-default-text};
  background-color: #{$col-default-bg};
}

#root > div {
  box-sizing: border-box;
  display: flex;
  min-height: 100%;
}

.menu_side {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 0px);
  box-shadow: 10px 0px 10px rgba($color: #000000, $alpha: 0.1);
  z-index: 2;
  .menu_toggle_bar {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    background: #{$col-white};
    width: 60px;
  }
  .menu_area {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    background: #{$col-white};
    overflow: hidden auto;
    width: 240px;
    transition: width 0.3s ease;
    box-sizing: border-box;
    position: relative;
    &.hide {
      width: 0;
      transition: width 0.3s ease;
    }
  }
}
.menu_wrap {
  width: 230px;
  padding: 18px 10px;
  top: 18px;
  * {
    cursor: pointer;
  }
  h1 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 50px;
  }
  .dep_1 {
    > li {
      > p {
        padding: 10px 20px 8px;
        font-size: 20px;
        font-weight: bold;
        &:hover {
          background: #f3f3f3;
        }
      }
      .dep_2 {
        display: none;
      }
      &.active {
        > p {
          background: #f3f3f3;
        }
        .dep_2 {
          display: block;
          > li {
            > p {
              padding: 10px 20px;
              font-size: 16px;
              color: #777;
              font-weight: bold;
              border-bottom: 1px solid #ddd;
              &:hover {
                color: #{$col-default-text};
              }
            }
            .dep_3 {
              display: none;
              padding: 5px 0;
            }
            &.active {
              > p {
                color: #{$col-default-text};
              }
              .dep_3 {
                display: block;
                padding-bottom: 10px;
                > li {
                  > p {
                    padding: 5px 30px;
                    font-size: 14px;
                    color: #666;
                    &:hover {
                      color: #{$col-default-text};
                    }
                  }
                  &.active {
                    p {
                      color: #{$col-default-text};
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.toggle_btn {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 40px;
  height: 40px;
}

.content_area {
  display: flex;
  flex-direction: column;
  flex: auto;
  box-sizing: border-box;
  padding: 20px;
  z-index: 1;
}
.top_menu_toggle {
  display: none;
}
.toggle_dark_mode {
  position: absolute;
  bottom: 10px;
  left: 0;
}

@include mobile {
  .menu_wrap h1 {
    display: none;
  }
  .menu_area {
    padding-top: 50px;
  }
  .menu_side {
    position: fixed;
    left: -260px;
    top: 0;
    transition: left 0.3s ease;

    .menu_toggle_bar {
      display: none;
    }
    &.show {
      left: 0;
      transition: left 0.3s ease;
    }
  }
  .toggle_btn {
    top: 5px;
  }
  .top_menu_toggle {
    display: block;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 50px;
    background: #{$col-top-menu-bg};
    z-index: 3;
    h1 {
      color: #{$col-default-text};
      font-size: 20px;
      font-weight: bold;
      padding: 12px 60px;
    }
  }
  .content_area {
    display: block;
    flex-direction: row;
    //height: calc(100vh - 0px);
    padding-top: 70px;
  }
}

@include tablet {
  .menu_side {
    .menu_toggle_bar {
    }
    .menu_area {
      width: 0px;
      transition: width 0.3s ease;
      &.hide {
        width: 240px;
        transition: width 0.3s ease;
      }
    }
  }
}

@include desktop {
}

body.dark-theme {
  color: #{$dark-col-default-text};
  background-color: #{$dark-col-default-bg};
  .menu_toggle_bar,
  .menu_area {
    background: #{$dark-col-white};
  }
  .dep_1 {
    > li {
      > p {
        &:hover {
          background: #444;
        }
      }
      .dep_2 {
        display: none;
      }
      &.active {
        > p {
          background: #444;
        }
        .dep_2 {
          > li {
            > p {
              color: #aaa;
              border-bottom: 1px solid #ddd;
              &:hover {
                color: #{$dark-col-default-text};
              }
            }
            .dep_3 {
            }
            &.active {
              > p {
                color: #{$dark-col-default-text};
              }
              .dep_3 {
                > li {
                  > p {
                    color: #aaa;
                    &:hover {
                      color: #{$dark-col-default-text};
                    }
                  }
                  &.active {
                    p {
                      color: #{$dark-col-default-text};
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
