.alert-modal-content,
.confirm-modal-content,
.org-simple-form-modal-content,
.safe-doc-template-apply-form-modal-content,
.member-simple-form-modal-content,
.subject-organize-modal-content,
.work-order-reject-modal-content,
.common-textarea-modal-content,
.common-editor-modal-content,
.menu-name-list-modal-content {
  width: 500px;
  box-sizing: border-box;
  padding: 20px 30px;
  @include mobile {
    width: 90%;
    padding: 0;
  }
}

.subj-org-appoint-modal-content {
  width: 500px;
  box-sizing: border-box;
  padding: 20px 30px;
  overflow: visible !important;
  @include mobile {
    width: 90%;
    padding: 0;
  }
}

.doc-attend-sign-view-modal-content,
.member-role-form-modal-content,
.safe-doc-template-form-modal-content,
.common-sign-view-modal-content,
.common-sign-modal-content,
.safe-org-change-code-list-modal-content {
  width: 600px;
  box-sizing: border-box;
  padding: 20px 30px;
  @include mobile {
    width: 90%;
    padding: 0;
  }
}

.todo-list-modal-content,
.doc-attend-sign-modal-content,
.common-viewer-modal-content,
.equipment-supply-form-modal-content,
.safety-equip-search-modal-content,
.work-order-list-modal-content {
  width: 900px;
  box-sizing: border-box;
  padding: 20px 30px;
  @include mobile {
    width: 100%;
    padding: 0;
  }
}

.check-item-type-form-modal-content,
.check-item-form-modal-content,
.check-item-view-modal-content,
.safe-doc-list-by-schd-modal-content,
.org-safety-member-modal-content,
.member-select-modal-content,
.org-change-modal-content {
  width: 1100px;
  box-sizing: border-box;
  padding: 20px 30px;
  @include mobile {
    width: 100%;
    padding: 0;
    height: 100%;
    border-radius: 0 !important;
    .popup-container {
      height: 100%;
    }
  }
}

.unchecked-work-order-modal-content,
.work-order-search-modal-content,
.org-select-modal-content,
.board-comment-list-modal-content,
.safe-doc-template-form-modal-content,
.safe-doc-search-modal-content,
.safe-doc-list-by-subj-modal-content,
.subject-search-modal-content,
.board-reply-desc-modal-content,
.common-map-modal-content,
.subject-committee-modal-content {
  width: 900px;
  box-sizing: border-box;
  padding: 20px 30px;
  @include mobile {
    width: 100%;
    padding: 0;
    height: 100%;
    border-radius: 0 !important;
    .popup-container {
      height: 100%;
    }
  }
}

.subject-search-modal-content {
  width: 1350px;
  box-sizing: border-box;
  padding: 20px 30px;
  @include mobile {
    width: 100%;
    padding: 0;
    height: 100%;
    border-radius: 0 !important;
    .popup-container {
      height: 100%;
    }
  }
}

.pop_title {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 1px solid #{$col-gray300};
  padding-right: 40px;
  @include mobile {
    padding: 20px 40px 20px 0;
    margin: 0 20px;
  }
}

.pop_cont_box {
  position: relative;
  max-height: 900px;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 20px;
  padding-bottom: 0;
  @include mobile {
    padding: 20px 20px 35px;
    overflow-y: auto;
  }
  .write_form {
    border-bottom: none;
    margin-bottom: 20px;
    padding-bottom: 0 !important;
  }
  .list_form {
    margin-bottom: 20px;
  }
  .box_form {
    margin-bottom: 0;
    border: none;
    padding: 0;
  }
  + .pop_btns {
    border-top: 1px solid #{$col-gray350};
    padding-top: 20px;
    @include mobile {
      border-top: none;
    }
  }
}

.pop_full_cont_box {
  position: relative;
  max-height: 900px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 20px;
  .list_form,
  .tb_wrap_scroll {
    margin-bottom: 30px;
  }
  .write_form {
    border-bottom: none;
    margin-bottom: 20px;
    padding-bottom: 0 !important;
  }
  .box_form {
    padding: 0;
    border: none;
  }
  + .pop_btns {
    border-top: 1px solid #{$col-gray350};
    padding-top: 20px;
    @include mobile {
      border-top: none;
    }
  }
  @include mobile {
    height: calc(100vh - 60px);
    overflow-y: auto;
    padding: 20px;
    padding-bottom: 50px;
    box-sizing: border-box;
    .list_form,
    .write_form {
      margin-bottom: 30px;
    }
  }
}

.andt-tree-container {
}

.pop_cont {
  margin-top: 30px;
  padding-bottom: 30px;
  @include mobile {
    padding: 0 40px 70px 20px;
  }
}

.pop_btns {
  > button {
    margin: 0 5px;
  }
  text-align: center;
  @include mobile {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    > button {
      border-radius: 0 !important;
      margin: 0;
      flex-basis: auto;
      flex-grow: 1;
    }
  }
}

.pop_close {
  position: absolute;
  right: 12px;
  top: 10px;
  font-size: 20px;
  color: #{$col-gray600};
}

.pop_flex_group {
  display: flex;
  @include mobile {
    display: block;
  }
  .andt-tree-container {
    flex-grow: 1;
    @include mobile {
      display: none;
    }
  }
  .pop_cont_form {
    flex-grow: 3;
    .box_form {
      margin-bottom: 20px;
      @include mobile {
        padding: 0;
        border: none;
        margin-bottom: 0;
      }
    }
    @include mobile {
      flex-grow: 1;
      padding: 0;
    }
  }
}

.alert-modal-overlay {
  z-index: 50;
}

.middle-modal-overlay {
  z-index: 40;
}

.full-modal-overlay {
  z-index: 30;
}

.ReactModal__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: all 200ms ease-in-out;
}

// 팝업 공통
.ReactModal__Content {
  position: absolute;
  background: #fff;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  border-radius: 6px;
  outline: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.15);
  overflow: hidden;
  &::after {
    content: '';
    clear: both;
    display: block;
  }
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

#loading-bar-container {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 200;
  cursor: pointer;
}

.loading-bar {
  transform: translate(-50%, -50%);
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 41;
  width: 80px;
  height: 80px;
  div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #{$col-green};
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #{$col-green} transparent transparent transparent;
  }
  div:nth-child(1) {
    animation-delay: -0.45s;
  }
  div:nth-child(2) {
    animation-delay: -0.3s;
  }
  div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.modal_max_height_table {
  overflow-y: auto;
  max-height: 450px;
  @include mobile {
    max-height: calc(100vh - 240px);
  }
}

// picker
.react-datepicker-popper[data-placement^='top'] .react-datepicker__triangle,
.react-datepicker-popper[data-placement^='bottom'] .react-datepicker__triangle {
  z-index: 100;
  transform: translate3d(36px, 0px, 0px) !important;
}

// tree

.tree_wrap {
  box-sizing: border-box;
  min-width: 250px;
  max-height: 540px;
  padding-right: 20px;
  overflow: auto;
  @include mobile {
    display: none;
  }
  .ant-tree-list-holder {
    overflow: auto;
  }
  .tree-wrapper {
    overflow: auto;
    padding: 10px;
  }
  .tree-btn-controller {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    .btn {
      border: 1px solid #ddd;
      color: #000;
      font-size: 12px;
    }
  }
  .ant-tree-list-scrollbar {
    width: 3px !important;
  }
  .ant-tree-list-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.1) !important;
  }
  .ant-tree-title {
    .folder {
      background-image: url(../images/icon-tree-closed.png);
      padding-left: 18px;
      background-repeat: no-repeat;
      background-position-x: -27px;
      background-position-y: 50%;
      display: inline-block;
      margin-left: -28px;
    }
    .bridge {
      display: inline-block;
      margin-left: -28px;
      padding-left: 18px;
      background-repeat: no-repeat;
      background-position-y: 50%;
      background-position-x: 10px;
      background-size: 8px 8px;
      background-image: url(../images/icon-bridge.png);
    }
    .current-find {
      font-style: italic;
      font-weight: bold;
    }
    span {
      display: block;
      white-space: nowrap;
    }
  }
  .ant-tree {
    position: relative;
    .ant-tree-treenode {
      width: 100%;
      padding: 2px 0;
      // text-indent: 10px;
      border-radius: 4px;
      &:last-child {
        border-bottom: 0;
      }
    }
    .ant-tree-indent {
      text-indent: -5px;
    }
    .ant-tree-node-content-wrapper:hover {
      background-color: transparent;
    }
  }
  .ant-tree-treenode-selected {
    color: #{$col-green};
    font-weight: bold;
    .ant-tree-switcher {
      &.ant-tree-switcher_close {
        .folder {
          background-image: url(../images/icon-tree-closed.png) no-repeat left
            top;
        }
      }
      &.ant-tree-switcher_open {
        .folder {
          background-image: url(../images/icon-tree-open.png) no-repeat left top;
        }
      }
    }
  }
  .ant-tree-node-selected {
    background-color: transparent !important;
    color: #{$col-green};
  }
  .ant-tree-switcher {
    width: 10px;
    height: 20px;
    .folder {
      width: 100%;
      height: 20px;
      background-position: 0 0;
      background-repeat: no-repeat;
    }
    &.ant-tree-switcher-noop {
      /* width: 35px; */
    }
    &.ant-tree-switcher_close {
      .folder {
        background-image: url(../images/icon-tree-closed.png);
      }
    }
    &.ant-tree-switcher_open {
      .folder {
        background-image: url(../images/icon-tree-open.png);
      }
    }
  }
  .check-area {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 260px;
    width: 320px;
    transform: translateY(-50%);
  }
  .check-item {
    label {
      display: inline-block;
      font-size: 12px;
      margin-right: 5px;
      vertical-align: middle;
      cursor: pointer;
    }
    input {
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
    }
  }
}
