$breakpoint-mobile: 335px;
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1024px;

$col-default-text: #222;
$col-default-bg: #fff;
$col-blue: #0847a6;
$col-top-menu-bg: #eee;

$dark-col-default-text: #fff;
$dark-col-default-bg: #222;
