$breakpoint-mobile: 335px;
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1024px;

$col-default-text: #222;
$col-default-bg: #fff;
$col-blue: #0847a6;
$col-red: #ed2129;
$col-green: #62c5b1;
$col-white: #fff;
$col-black: #000;

$col-gray100: #eee;
$col-gray200: #e0e0e0;
$col-gray300: #ddd;
$col-gray400: #444;
$col-gray500: #555;
$col-gray600: #666;

$col-disabled: #f1f1f1;
$col-menu-bg: #f5f5f5;
$search-form: #f7f7f7;

$dark-col-default-text: #fff;
$dark-col-default-bg: #222;
$dark-col-white: #222;
